* {
    box-sizing: border-box;
    margin: 0;
    padding: 0;
}

body {
    font-family: 'Courier New', Consolas, monospace;
    background-color: #fcfcfc;
    color: #333;
    line-height: 1.6;
    display: flex;
    justify-content: center;
    padding: 40px 20px;
}

.container {
    max-width: 1000px;
    background-color: #fff;
    border: 3px solid #7cd6ed; 
    padding: 60px 50px;
    width: 100%;
}

.main-title {
    text-align: center;
    font-size: 26px;
    font-weight: normal;
    margin-bottom: 60px;
    color: #222;
}

.content-wrapper {
    display: flex;
    gap: 50px;
    align-items: flex-start;
}

.card-left {
    flex: 0 0 38%; 
    background-color: #ffffff;
    padding: 40px 35px;
    box-shadow: 0 15px 35px rgba(0, 0, 0, 0.08); 
    border-radius: 4px;
}

.card-left h2 {
    font-size: 18px;
    font-weight: normal;
    margin-bottom: 25px;
    line-height: 1.5;
}

.card-left p {
    font-size: 13px;
    color: #777;
    margin-bottom: 35px;
}

.author-info strong {
    display: block;
    font-size: 13px;
    color: #333;
    margin-bottom: 5px;
}

.author-info span {
    display: block;
    font-size: 12px;
    color: #5b9bd5; 
}

.text-right {
    flex: 1; 
}

.text-right p {
    font-size: 14px;
    color: #555;
    margin-bottom: 25px;
    text-align: justify; 
}

.text-right .highlight-text {
    color: #222;
    font-weight: bold;
}